<h1>{{'about'|texts}}</h1>
<div class="row">
	<div class="col-sm-4">
		<img class="img-responsive" src="/logoapp.png"/>
	</div>
	<div class="col-sm-8">
		<p class="lead" ng-bind-html="'welcome'|texts"></p>
		<h4>TECH:</h4>
		<ul>
			<li><a href="http://angularjs.org">AngularJS</a>
				<ul>
					<li><a href="https://github.com/jtrussell/angular-snap.js">angular-snap.js</a></li>
					<li><a href="https://github.com/tombatossals/angular-leaflet-directive">angular-leaflet-directive</a></li>
					<li><a href="https://github.com/lorenzofox3/lrInfiniteScroll">lrInfiniteScroll</a></li>
				</ul>
			</li>
			<li><a href="http://getbootstrap.org">Bootstrap</a></li>
			<li><a href="https://github.com/jakiestfu/Snap.js/">Snap.js</a></li>
			<li><a href="http://leafletjs.com">Leaflet</a>
				<ul>
					<li><a href="https://github.com/Leaflet/Leaflet.markercluster">Leaflet.markercluster</a></li>
				</ul>
			</li>
			<li>...</li>
		</ul>
	</div>


</div>
